<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.redblack.taksim">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.Splash"
            android:label="Giriş"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.viewpager.ViewPager"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction">
            <intent-filter>
                <action android:name="android.intent.action.VIEWPAGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.logintype.MainType"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAINTYPE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.logintype.signup.SignUpPhone"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            ></activity>

        <activity
            android:name=".ui.logintype.signup.SignUpPhoneKod"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            ></activity>

        <activity
            android:name=".ui.logintype.signup.SignUp"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            ></activity>

        <activity
            android:name=".ui.logintype.login.LoginPhone"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            ></activity>

        <activity
            android:name=".ui.logintype.login.LoginKod"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            ></activity>

    </application>

</manifest>