<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.redblack.taksim">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/taksim_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/taksim_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <activity
            android:name=".ui.splash.Splash"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.TransparentTheme"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.viewpager.ViewPager"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEWPAGER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.logintype.MainType"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAINTYPE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.logintype.signup.SignUpPhone"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.logintype.signup.SignUpPhoneKod"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction" />
        <activity
            android:name=".ui.logintype.signup.SignUp"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            />
        <activity
            android:name=".ui.logintype.login.LoginPhone"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustPan"
            />
        <activity
            android:name=".ui.logintype.login.LoginKod"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustPan"
            />

        <activity
            android:name=".ui.activity.MapActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction" />

        <activity
            android:name=".ui.activity.HomeAddress"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction" />

        <activity
            android:name=".ui.activity.JobAddress"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction" />

        <activity
            android:name=".ui.activity.FavoriteAddress"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction" />

        <activity android:name=".ui.activity.CreditCard"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustPan"
            />

        <activity android:name=".ui.activity.Profil"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="adjustPan"
            />

        <activity android:name=".ui.activity.Promosyon"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            android:windowSoftInputMode="stateAlwaysHidden"
            />

        <activity android:name=".ui.activity.Bildirimler"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            />

        <activity android:name=".ui.activity.Yardim"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            />

        <activity android:name=".ui.activity.Adreslerim"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            />

        <activity android:name=".ui.activity.SikcaSorular"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            />

        <activity android:name=".ui.activity.Yolculuklarim"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"
            />

        <activity android:name=".ui.activity.StartingLocation"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoAction"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>